nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 2px 2px 4px #25343F;
}

.navbar-menu {
    font-weight: bold;
    padding-top: 4px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-menu li a {
    color: #25343F;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navbar-item li a {
    color: #25343F;
    text-decoration: none;
}

nav li a:hover {
    font-size: 20px;
    transition: 0.3s;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #25343F;
}

.mobile-menu {
    display: none;
}

@media (max-width: 480px) {

    nav {
        position: relative;
        justify-content: space-between;
        padding: 0 10px;
    }

    .navbar-menu,
    .navbar-item {
        display: none;
    }

    .hamburger {
        border: none;
        box-shadow: none;
        display: block;
        font-size: 14px;
    }

    .mobile-menu.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        gap: 15px;
        z-index: 999;
        border-bottom: #25343F 2px solid;
        border-left: #25343F 2px solid;
        border-right: #25343F 2px solid;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mobile-menu ul li {
        border-bottom: #25343F 1px solid;
    }

    .mobile-menu ul li a {
        color: #25343F;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }

    .sosmed {
        display: flex;
        flex-direction: row !important;
        gap: 20px;
    }

    .sosmed li a {
        color: #25343F;
        text-decoration: none;
        font-size: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

.navbar-title {
    font-size: 14px;
}

.navbar-menu {
    padding-top: 2px;
    gap: 10px;
    font-size: 14px;
}

.navbar-item {
    padding-top: 2px;
    gap: 10px;
    font-size: 14px;
}

nav li a:hover {
    font-size: 16px;
}

}